<ul style = "list-style-type: none; margin: 0px 0px 0px 0px; background-color: rgb(0, 0, 0);">
    <li><a id = "a1" onclick=home() style="background-color: #F23557">Home</a></li>
    <li><a id = "a2" onclick=profile() style="background-color: #F0D43A">Profile</a></li>
    <li><a id = "a3" onclick=prev() style="background-color: #22B2DA;">Previous Results</a></li>
    <li><a id = "a4" onclick=upcom() style="background-color: #3B486B">Upcoming Elections</a></li>
</ul>